@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Novosibirsk State University<br />
    <abbr title="Phone"></abbr>
    +79059556003
</address>

<address>
    <strong>Support: d.makarenko@g.nsu.ru</strong>   
</address>